# package directories
node_modules
jspm_packages

# Local DynamoDB directories
.dynamodb

# IntelliJ
.idea/

# Build folder
.build/**

# Decrypted files
secrets.*.yml

# Mac
.DS_STORE

# Serverless package artifacts
.serverless
.artifacts

# Stack output changes should not be commited to git
/stackoutput/stack.json
