# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Local DynamoDB directories
.dynamodb

# IntelliJ
.idea/

# Build folder
dist/
.build/

# Decrypted files
secrets.*.yml

# Mac
.DS_STORE
